:root {
  --background: #1f1f1f;
  --button: #6f12a1;
  --button-hover: #4e146e;
  --button-disabled: #533a61;
  --primary: #bcbbbd;
  --text: #f0f0f0;
  --text-dark: #1b191c;
  --secondary: #3bd48f;
}
